
.navbar{
	background-color: var(--header-bgcolor);
	height: 100vh;
	position: fixed;
	width: 75vw;
	top: 0;
	left: -75vw;
	border-right: 2px solid black;
	text-align: center;
	color: var(--third-color);
	transition: ease .5s;
	overflow-x: auto;
	z-index: 1 ;
}
.navbar-active{
	left: 0;
}
.logo{
	width:100%;
	height: 5em;
	margin:0 auto;
}

.search__form-input,
.search__form-submit{
	height: 2.5em;
	border-radius: .5em;
	border:none;
}
.search__form-input{
	padding-left: .5em;
}
.search__form-submit{
	margin-left: -1.5em;
	width: 3em;
	background-color:var(--icon-color);
}
.nav-info{
	margin-top: 1.5em;
	font-size: 1.5em;
	font-style: italic;
}
.company-logo{
	width: 80%;
	height: 3em;
	margin-top:2em;
}
